<!DOCTYPE HTML>
<html>
  <head>
    <title>Dealership Vehicles</title>
  </head>
  <body>
    <h1>The Dealership's Vehicles!</h1>

    <table>
      <tr>
        <th>id</th>
        <th>make</th>
        <th>model</th>
        <th>year</th>
        <th>price</th>
        <th>stock</th>
      </tr>
      <tr th:each="vehicle : ${listVehicles}">
        <td th:text="${vehicle.id}"></td>
        <td th:text="${vehicle.make}"></td>
        <td th:text="${vehicle.model}"></td>
        <td th:text="${vehicle.year}"></td>
        <td th:text="${vehicle.price}"></td>
        <td th:text="${vehicle.stock}"></td>
      </tr>
    </table>


  </body>
</html>
